= render 'competitions/header', competition: @competition, sub: Team.model_name.human(count: :many), resource_class: Team

.row
  .col-lg-12
    = simple_form_for(@team_marker_block_value, url: competition_team_marker_block_values_path) do |f|
      = hidden_field_tag :band_id, @team_marker_block_value.band.id
      = card(@team_marker_block_value.band.name, class: 'mb-3') do |c|
        - c.direct do
          %table.table.table-bordered
            %tr
              %th= Team.human_attribute_name(:name)

              - @team_marker_block_value.team_markers.each do |team_marker|
                %td{ title: team_marker.name, style: 'text-align: center' }= team_marker.name

            - @team_marker_block_value.teams.each do |team|
              %tr
                %td= team.full_name
                - @team_marker_block_value.team_markers.each do |team_marker|
                  - value = @team_marker_block_value.find_value_by(team_marker_id: team_marker.id, team_id: team.id)
                  = f.simple_fields_for(:team_marker_values, value) do |g|
                    %td
                      = g.input :team_id, as: :hidden
                      = g.input :team_marker_id, as: :hidden
                      - if value.value_type_boolean?
                        = g.input :boolean_value
                      - if value.value_type_date?
                        = g.input :date_value, html5: true
                      - if value.value_type_string?
                        = g.input :string_value

        - c.footer do
          = f.primary_button :submit
          = f.cancel_button(competition_teams_path)
