- c.body do
  %fieldset.group
    %legend Serienauswahl

    = f.input :round_key, as: :select, collection: f.object.possible_round_keys

  %fieldset.group
    %legend Wettkämpferauswahl
    = f.input :person_id, as: :select, collection: f.object.possible_people

  %fieldset.group
    %legend Punktevergabe
    = f.input :points_correction
    = f.input :points_correction_hint

- c.footer do
  = f.primary_button :submit
  = f.cancel_button(competition_series_person_points_corrections_path)
