= render 'devise/header', active: :register

.row
  .col-md-8
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = card do |card|
        = card.title 'Registrieren'
        = card.body do
          = f.error_notification

          .form-inputs
            = f.input :name, autofocus: true, input_html: { autocomplete: 'name' }
            = f.input :email, input_html: { autocomplete: 'email' }
            = f.input :password, required: true, input_html: { autocomplete: 'new-password' }
            = f.input :password_confirmation, required: true, input_html: { autocomplete: 'new-password' }
        = card.footer do
          = f.button :submit, class: 'btn btn-primary'
