= render 'devise/header', active: :unlock

.row
  .col-md-8
    = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = card do |card|
        = card.title 'Entsperr-E-Mail senden'
        = card.body do
          = f.error_notification
          = f.full_error :unlock_token

          .form-inputs
            = f.input :email, autofocus: true, required: true, input_html: { autocomplete: 'email' }
        = card.footer do
          = f.button :submit, 'Zusenden', class: 'btn btn-primary'
