%table.table.table-bordered
  %tr
    %th= Team.human_attribute_name(:name)
    - band.team_tags.each do |tag|
      %th.small{ style: 'width: 80px' }= tag
    - assessments.each do |assessment|
      %th.small{ style: 'width: 60px' }= discipline_image assessment.discipline.key, title: assessment.name

    - if can?(:manage, @competition)
      - team_markers = @competition.team_markers.reorder(:name)
      - team_markers.each do |team_marker|
        %td{ title: team_marker.name, style: 'width: 60px; text-align: center' }
          %abbr{ title: team_marker.name }= team_marker.name.first(2)
    %th{ style: 'width: 200px' }
  - resource_collection.each do |team|
    %tr
      %td
        - if can?(:sub_edit, team) && team.users.include?(current_user)
          .far.fa-edit
        - if can?(:manage, team) && team.users.exists?
          .far.fa-id-card{ title: "Angemeldet durch #{team.users.map(&:name).join(', ')}" }
        = team.full_name
        = team_badge(team&.fire_sport_statistics_team, team.band.gender)
      - band.team_tags.each do |tag|
        %td= team.tags.include?(tag) ? 'X' : ''
      - assessments.each do |assessment|
        - request = team.request_for(assessment)
        - if request.present?
          %td{ title: t("assessment_types.#{request.assessment_type}") }
            - if assessment.like_fire_relay?
              #{team.request_for(assessment).relay_count} x
            = t("assessment_types.#{request.assessment_type}_short")
        - else
          %td

      - if can?(:manage, @competition)
        - team_markers.each do |team_marker|
          - value = team.team_marker_values.find_by(team_marker:)
          %td{ title: value&.value, style: 'width: 60px; text-align: center' }
            = icon_link_btn("far #{value&.value_present? ? 'fa-square-check' : 'fa-square'}", edit_competition_team_marker_path(team_id: team.id, id: team_marker.id), class: 'quick-team-marker-change-link', data: { url: edit_competition_team_marker_path(team_id: team.id, id: team_marker.id, output: :modal) })
      %td.text-end
        = btn_link_to(t('a.show'), { action: :show, id: team })
  - if can?(:manage, @competition) && team_markers.present?
    %tr
      %td{ colspan: band.team_tags.count + assessments.count + 1 }
      %td{ colspan: team_markers.count + 1 }
        = btn_link_to('Spalten als Block', edit_competition_team_marker_block_values_path(band_id: band.id), title: 'Mannschaftsspalten als Block bearbeiten')
