= render 'devise/header', active: :reset_password

.row
  .col-md-8
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = card do |card|
        = card.title 'Passwort vergessen?'
        = card.body do
          = f.error_notification

          .form-inputs
            = f.input :email, autofocus: true, required: true, input_html: { autocomplete: 'email' }
        = card.footer do
          = f.button :submit, 'Link zum Zurücksetzen zusenden', class: 'btn btn-primary'
