= render 'competitions/header', competition: @competition, sub: 'Serien', resource_class: Series::Round

.row.g-4.mb-4
  .col-md-6= render('round_card', round: @round)
  - if @round.person_assessments_configs.present?
    .col-md-6
      = card_direct('Einzelwertungen') do
        %table.table
          %thead
            %tr
              %th Disziplin
              %th
          %tbody
            - @round.person_assessments_configs.each do |config|
              %tr
                %td
                  - config.disciplines.each do |discipline|
                    = discipline_image(discipline)
                  = config.name
                %td= link_to('Ansehen', competition_series_person_assessment_path(id: config.round_key), class: 'btn btn-sm btn-light')


- @round.team_assessments_configs.each do |config|
  - rows = config.rows(@competition)
  - next if rows.blank?

  = card("Mannschaftswertung #{config.name}", class: 'mb-4') do |c|
    - c.direct do
      .scroll-x
        %table.table.table-hover.table-bordered.table-sm
          %thead
            %th.hide-xs Platz
            %th Team
            - @round.showable_cups(@competition).each do |cup|
              %th.small= cup.competition_place
            - config.show_columns_config.each_with_index do |col, index|
              %th{ class: index == config.show_columns_config.size - 1 ? '' : 'hide-xs' }= col[:name]

          %tbody
            = tr_xs_rotate_hint
            - rows.each do |row|
              %tr
                %td.hide-xs= row.rank
                %td= row.full_name
                - @round.showable_cups(@competition).each do |cup|
                  %td.small= render('competitions/series/rounds/participations_table', participations: row.participations_for_cup(cup))

                - config.show_columns_config.each_with_index do |col, index|
                  %td{ class: index == config.show_columns_config.size - 1 ? '' : 'hide-xs' }= row.public_send(col[:method])

      = render 'competitions/series/calculation_hint', config:

    - c.actions do |actions|
      - actions.link_to 'Details zur Berechnung', "#calculation-hint-#{config.key}", end_icon: :calculator, data: { 'bs-toggle' => 'collapse' }
      - actions.link_to 'PDF', { format: :pdf }, end_icon: :file_pdf, target: '_blank', rel: 'noopener'

      - if can?(:manage, @competition) && @competition.certificates_templates.exists?
        - actions.link_to 'Urkunden', new_competition_certificates_list_path(series_team_assessmen_id: config.round_key), end_icon: :file_certificate
